html body {
    background: url("https://media.discordapp.net/attachments/775275470711029810/957665130840203394/zorotl.png"), linear-gradient(-45deg, #20ffe9, #3700ff, #23a6d5, #2f00ff);
    animation: gradientBG 15s ease infinite;
    color: white;

}

html body a {

    color: white;

}

html body > span {

    color: white;

}



img {
    filter: invert(7%) sepia(100%) saturate(7498%) hue-rotate(248deg) brightness(101%) contrast(142%);


}


@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}