body{
    background-color:  #badbff;
    width: 500px;
    min-height: 500px;
    margin: 0;
    display: block;
	text-align: center;
}

.title{
    background-color:  #006cdf;
    width: 100%;
    padding: 10px;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title > h1{
    color: white;
    font-weight: 700;
    margin: 0;
}


body {
	background: linear-gradient(-45deg, #52eed9, #0099ff, #0059ff, #0400ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.audio_player {
	width: 500px;
}

audio::-webkit-media-controls-panel {
	background-color: #56AEFF;
  }
  
  audio::-webkit-media-controls-volume-slider {
	background-color: #00fffb;
	border-radius: 25px;
	padding-left: 8px;
	padding-right: 8px;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#zorotl_oblit {
	margin-left: auto;
  	margin-right: auto;
	width: 50%;
}

#logo {
	display: inline-block;
	text-align: initial;
	width: 40px;
	height: auto;
}

#timer {
	font-weight: bold;
	font-size: 4em;
  }